Executables/*
!Executables/maze.asc
Objects/*
!Objects/README.md
Documentation/*
!Documentation/README.md
myman*/
AdaCurses/*
!AdaCurses/README.md
!AdaCurses/PKGBUILD
!AdaCurses/adacurses.gpr.in
!AdaCurses/AdaCurses-20190706.tgz
